
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/*
logs/
gauge_bin/
out/
reports/
phantomjsdriver.log
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
/.gitignore
.idea/vcs.xml
